/*
* Created by ArtSCactus
* 10.06.2020
*/
aside{
    background-color: darkgrey;
    width: 200px;
    height: 140px;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
}
#sidebar-header{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 13%;
    text-align: center;
    background-color: grey;
    color: white;
}
#sidebar-list{
    margin-top: 3%;
    background-color: white;
   float: right;
    width: 85%;
    height: 60%;
}
#sidebar-links-ul{
    margin: 6px;
}
.sidebar-li{
    padding: 6px;
}
#main-window-header{
}
#main-window-container{
    position: relative;
    border: 1px solid black;
}

#main-window{
}

header{
    height: 30%;
    width: 100%;
    padding: 50px;
}
#localization-links{
    float: right;
    margin-right: 10%;
}
#page-title{
    font-size: 30px;
}

#sidebar-container, #main-window-container{
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#sidebar-container{
float: left;
    width: 20%;
    min-width: 235px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
html{
    overflow: hidden;
}
