<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:fragment="header">
    <div id="page-title" th:utext="#{header-page-title}">
    </div>
    <div id="localization-links">
        <a th:href="@{'?lang=en'}">English</a>
        <a th:href="@{'?lang=ru'}">Russian</a>
    </div>
</header>
<body>
<div id="sidebar-container" th:fragment="sidebar">
    <div id="sidebar">
        <div id="sidebar-header" th:utext="#{sidebar-header-text}">
        </div>
        <div id="sidebar-list">
            <ul id="sidebar-links-ul">
                <li class="fa fa-play-circle" id="news-list-link"><a class="sidebar-links" href="/" th:utext="#{sidebar-list-link}"></a></li>
                <li class="fa fa-play-circle" id="add-news-list-link"><a class="sidebar-links" href="/create" th:utext="#{sidebar-add-news-link}"></a></li>
            </ul>
        </div>
    </div>
</div>
</body>
<footer id="footer" th:fragment="footer" th:utext="#{copyright}">
    Copyright &#169; EPAM 2008. All rights reserved
</footer>
</html>