/*
* Created by ArtSCactus
* 11.06.2020
*/

html{
    overflow: hidden;
    max-width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

#sidebar{
    background-color: darkgrey;
    width: 200px;
    height: 140px;
    padding: 5px;
}

header{
    height: 30%;
    padding: 50px;
    color: 	#483D8B;
    border: 1px solid black;
}
#localization-links{
    float: right;
}
#page-title{
    font-size: 30px;
}


#sidebar-header{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 13%;
    text-align: center;
    background-color: grey;
    color: white;
}
#sidebar-list{
    margin-top: 3%;
    background-color: white;
    float: right;
    width: 90%;
    height: 75%;
}
#sidebar-links-ul{
    padding-inline-start: 10px;
}
.fa-play-circle{
    padding: 6px;
    color:deepskyblue
}

.sidebar-links{
    margin-left: 20px;
}


#sidebar-container{
    width: 210px;
    vertical-align: top;
    padding: 13px;
}

#main-window{
    border: 2px solid grey;
    padding-bottom: 30px;
}
#main-window-container{
    vertical-align: top;
    height: 90%;
    width: 100%;
}
#sidebar-container, #main-window-container{
    display: table-cell;
    border: 1px solid black;
}

#main-window-header-news-link, #main-window-header-unit, #right-arrows{
    display: inline-block;
}

#main-window-header-news-link{
    color: grey;
}

#footer{
    text-align: center;
    height: auto;
    width: 100%;
    border: 1px solid black;
}
#error-text{
    padding: 40px;
}