/*
* Created by ArtSCactus
* 10.06.2020
*/

.news-note-title, .news-note-date {
    display: inline;
}

.news-note-date, .news-note-edit-view-links {
    float: right;
}

.news-note-content {
    margin-top: 60px;
}

.news-note, #delete-btn {
    display: block;
}

#news-note-delimiter{
    height: 80px;
}

.news-note-delimiter{
    height: 80px;
}

#delete-btn {
    float: right;
    margin-left: 90%;
    margin-bottom: 30px;
    vertical-align: top;
}

.news-note {
    margin-top: 30px;
}

#main-window{
    margin-left: 20px;
    margin-right: 20px;
}

#main-window-header{
    margin-top: 10px;
}

#main-window-header-news-link, #main-window-header-unit, #right-arrows{
    display: inline-block;
}

#main-window-header-news-link{
    color: grey;
}
.empty-space{
    height: 40px;
}

#delete-btn{
    margin-right: 40px;
}

#news-note-date{
    border-bottom: 2px solid black;
}