<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{tab-title}">News manager</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/news-view.css" th:href="@{/css/news-view.css}">
    <script type="text/javascript" src="../static/script/edit-scripts.js" th:src="@{/script/edit-scripts.js}"></script>
</head>
<div th:replace="fragments/general.html :: header"></div>
<div th:replace="fragments/general.html :: sidebar"></div>
<body>
<div id="main-window-container">
    <div id="main-window-header" th:utext="#{edit-main-window-header}">
        <a id="main-window-header-news-link" th:href="@{/}" th:utext="#{edit-main-window-header-news-link}"></a>
        <div id="right-arrows">>></div>
        <div id="main-window-header-unit" th:utext="#{edit-main-window-header-unit}"></div>
    </div>
    <div id="note-item-view" th:if="${note != null}">
        <form id="note-form" th:object="${note}" action="/update" method="post">
            <input hidden th:if="${note.id !=null}" th:field="*{id}">
            <div class="form-field">
                <label for="title-input" class="form-label" th:utext="#{view-title-label}">
                </label>
                <input id="title-input" class="form-input" name="title" th:field="*{title}" maxlength="100"
                       th:pattern="${'[^<>]'}" required>
            </div>
            <br>
            <div class="form-field">
                <label for="date-input" class="form-label" th:utext="#{view-date-label}">
                </label>
                <input id="date-input" type="date" class="form-input" name="date" th:field="*{date}" th:lang="${#locale}"
                        required>
            </div>
            <br>
            <div class="form-field">
                <label for="brief-textarea" class="form-label" th:utext="#{view-brief-label}">
                </label>
                <textarea id="brief-textarea" class="form-input" name="brief" th:field="*{brief}" maxlength="500" th:pattern="${'[^<>]'}" required></textarea>
            </div>
            <br>
            <div class="form-field">
                <label for="content-textarea" class="form-label" th:utext="#{view-content-label}">
                </label>
                <textarea id="content-textarea" class="form-input" name="content" th:field="*{content}" maxlength="2048" th:pattern="${'[^<>]'}" required></textarea>
                <br>
            </div>
        </form>
        <form id="buttons-form">
            <div id="buttons-block">
                <button id="edit-btn" th:utext="#{save-btn-text}">SAVE</button>
                <button id="delete-btn" type="submit" th:if="${callbackUrl != null}" th:formaction="${callbackUrl}" th:formmethod="get" th:utext="#{cancel-btn-text}">CANCEL</button>
                <button id="delete-btn" type="submit" th:if="${callbackUrl == null}" th:formaction="${'/'}" th:formmethod="get" th:utext="#{cancel-btn-text}">CANCEL</button>
            </div>
        </form>

    </div>
    <div th:if="${note == null}">
        <h3 th:utext="#{view-not-found-message}">No such note</h3>
    </div>
</div>
</body>
</html>