<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>News manager</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="news-list.css">
</head>
<div th:replace="fragments/general.html :: header">
</div>
<div th:replace="fragments/general.html :: sidebar"></div>
<body>
<div id="main-window-container">
    <div id="main-window">
        <div id="main-window-header">
            News >> News list
        </div>
        <div class="news-note" th:each="newsNote : ${notes}">
            <div class="news-note-title" >
              <b th:utext="${newsNote.name}">Name</b>
            </div>
            <div class="news-note-date" th:utext="${newsNote.date}">
                11.06.2020
            </div>
            <div class="news-note-content" th:utext="${newsNote.content}">
                content
            </div>
            <br>
            <div class="news-note-edit-view-links">
                <a href="">view</a>
                <a href="">edit</a>
                <input class="checkbox" type="checkbox"/>
            </div>
        </div>

    </div>
    <br>
    <button id="delete-btn" type="button" value="delete">
        Delete
    </button>
</div>
</body>
</html>