<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="">
    <title>News manager</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/news-view.css" th:href="@{/css/news-view.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <script type="text/javascript" src="../static/script/view-scripts.js" th:src="@{/script/view-scripts.js}"></script>
</head>
<div th:replace="fragments/general.html :: header"></div>
<div th:replace="fragments/general.html :: sidebar"></div>
<body>
<div id="main-window-container">
    <div id="main-window">
    <div id="main-window-header">
        <a id="main-window-header-news-link" th:href="@{/}" th:utext="#{view-main-window-header-news-link}"></a>
        <div id="right-arrows">>></div>
        <div id="main-window-header-unit" th:utext="#{view-main-window-header-unit}"></div>
    </div>
    <div id="note-item-view" th:if="${note != null}">
        <input name="id" th:field="*{id}" th:attr="value=${note.id}" hidden>
        <div class="form-field">
            <label for="title-input" class="form-label" th:utext="#{view-title-label}">
            </label>
            <label id="title-input" class="form-input" th:utext="${note.title}"></label>
        </div>
        <br>
        <div class="form-field">
            <label for="date-input" class="form-label" th:utext="#{view-date-label}">
            </label>
            <label id="date-input" th:if="${#locale==#locale.ENGLISH}" th:utext="${#dates.format(note.date, 'MM/dd/yyyy')}">
            </label>
            <label id="date-input" th:if="${#locale!=#locale.ENGLISH}" th:utext="${#dates.format(note.date, 'dd/MM/yyyy')}">
            </label>
        </div>
        <br>
        <div class="form-field">
            <label for="brief-textarea" class="form-label" th:utext="#{view-brief-label}">
            </label>
            <label id="brief-textarea" class="form-input" th:utext="${note.brief}"></label>

        </div>
        <br>
        <div class="form-field">
            <label for="content-textarea" class="form-label" th:utext="#{view-content-label}">
            </label>
            <label id="content-textarea" class="form-input"
                   th:utext="${note.content}"></label>
            <br>
        </div>
        <form id="view-delete-form">
            <button id="delete-btn" type="submit" th:formaction="${'/delete/'+note.id}" th:formmethod="delete"
            th:utext="#{view-delete-btn-text}">
            </button>
        </form>
        <form id="view-edit-form" th:action="${'/edit/'+note.id}" th:method="get">
            <input hidden name="callback" value="view">
            <button id="edit-btn" type="submit" th:utext="#{view-edit-btn-text}"></button>
        </form>

    </div>
    <div id="confirm-delete-message" hidden th:utext="#{view-confirm-delete-message}"></div>
    <div th:if="${note == null}">
        <h3 th:utext="#{view-not-found-message}"></h3>
    </div>
    </div>
</div>
</body>
<div th:replace="fragments/general.html :: footer"></div>
</html>